:root {
  --main-distance-from-bottom: 200px;
  --size: 169px;
}

/* Common Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }

body {
  background-color: #3fa9f5;
  min-height: 100vh;
  border:none;
  padding:none;
}

header{
  height: 28vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo-mid {
  width: 492px;
  position: absolute;
  top: 1%;
}

.logo-left {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-hemisphere {
  height: 169px;
  width: 338px;
  border-top-left-radius: 338px;
  border-top-right-radius: 338px;
  background-color: #ff931e;
  align-self: flex-end;

  
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 17px;
}


p.middle {
  font-size: 1.7em;
  text-align: center;
  max-width: 700px;
}
 
.title-bubble {
  background-color: rgba(255,255,255, 0.6);
  border: solid;
  border-radius: 30px;
  height: 100px;
  width: 350px;
}

.title-bubble p {
  text-align: right;
  margin-top: -8px;
  margin-right: 37px;
}

header.small {
  height:8vh;
}

.title-bubble.small {
  height: 60px;
}

.title-bubble.small h1 {
  font-size: 1.5em;
  margin-block-start: 3.5%;
}
.page {
  background-color: #3fa9f5;
  }
  
footer {
  position: fixed;
  bottom: 0;
  height: 22vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content[type=whitecontent]{
  background-color: white;
  border-color: white;
  border-style: solid;
  border-top-width:5vh;
  border-bottom-width:5vh;
  height:50vh;
}

.builder {
  border-style: solid;
  border-color: rgba(0,0,0,0);
  /* border-top-width: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.news {
  height: 100%;
  width: 1000px;
  background-color: white;
  border-style: solid solid hidden solid;
  overflow:auto;
}   

.news h2 {
  padding-left: 10px;
  font-size: 1.2em;
}
.news p{
  padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 25px;
}
.news h2:first-of-type{
  padding-top: 10px;
}


/* Input Styles*/
input, select, .custom-button {
  width: 600px;
  padding: 15px 0px;
  text-align: center;
  border: 3px #555555;
  border-radius: 200px;
  border-style: solid;
  font-size: 1.2em;
  margin-top: 1vh;
  margin-bottom: 1vh;
}


input[name=Bird_name]{
  margin-top: 0.7%;
  margin-bottom:0.2%;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 200px;
  font-size: 1.5em;
  line-height: 28px;
  margin: none;
  padding: 15px 73px;
  text-decoration: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* Button and link Styles */

a.small button{
  width: 200px;
}

a.medium button {
  width: 395px;
}

a.large button {
  width: 600px;
}


a:hover {
  cursor: pointer;
} 

button.confirm {
  background-color: #2b902e;
}

button.back {
  background-color: #f87d00; 
}

/* The Character Customisation Buttons */
.custom-buttons {
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translate(-410px);
  display: inline-grid;
  grid-template-rows: 50 50 50 50 50;
  row-gap: 55px;

}

.custom-button { 
  width: 50px;
  height: 50px;
  background-color: #555555;
  border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* The Grid Styling */  
.grid-container {
  position: absolute;
  left: 50%;
  top: 12.5%;
  transform: translate(-49%);
  width: 600px;
  display: inline-grid;
  grid-template-columns: 33% 33% 33%;
  background-color: none;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 3%;
  font-size: 30px;
  text-align: center;
  object-fit: contain;
  
}

.grid-item img {
  height: 100%; 
  width: 100%; 
}

/* Canvas Style */
canvas {
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  top: 15%;
  /* left: 0%; */
  height: 700px;
  width: 700px;
}


.form {
  /* border-top: solid; */
  border-bottom:solid;
  border-color: rgba(0,0,0,0);
  border-width: 0;
  width: 605px;
  margin: auto;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-top: 7px;
}

input[type="checkbox"] + p {
  padding-left: 10px;
  margin-top: 7px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 10px;
}


.form-group.checkboxdiv, .checkboxdivb {
  margin:0px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  border-radius: 30px;
  margin-bottom: 0px;
  margin-left: 70px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
}


.form-group.checkboxdivb {
  /* background-color: rgba(180, 255, 180, 0.8); */
  margin-bottom: 10px;
}

form.small {
  width: 600px;
}
form .messages {
  flex: 0 0 100%;
  text-align: right;
  padding: 5px 0;
  color: red;
}

form .messages.small {
  display: inline-block;
  text-align: right;
  padding:0;
  color: red;
}

form .form-group.has-error > input,
form .form-group.has-error > select  {
  border: 2px solid red;
}

form .form-group.has-success > input,
form .form-group.has-success > select  {
  border: 2px solid #2b902e;
}









@media only screen and (max-width: 840px) {
  body {
    min-height: auto;
  }
  
  header{
    height: 20vh;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  header.menu, header.small{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
  }

  .logo-mid { 
    width: 300px;
    position: absolute;
    top: 1%;
  }
  
  .logo-left {
    position: relative;
    display: flex;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .top-hemisphere {
    height: 125px;
    width: 250px;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 17px;
  }
  p.middle {
    font-size: 1.7em;
    text-align: center;
    max-width: 700px;
  }
   
  .title-bubble {
    background-color: rgba(255,255,255, 0.6);
    border: solid;
    border-radius: 30px;
    height: 100px;
    width: 350px;
  }

  .content[type=whitecontent]{
    background-color: white;
    border-color: white;
    border-style: solid;
    border-top-width:5vh;
    border-bottom-width:5vh;
    height:55vh;
  }

  .content[type=whitecontent] input, .content[type=whitecontent] a {
    width: 80%;
  }
  .content.long-white {
    height: 80vh;
  }
  .builder {
    border-style: solid;
    border-color: rgba(0,0,0,0);
    /* border-top-width: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
  }
  footer {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .news {
    position: absolute;
    height: 25vh;
    width: 100%;
    bottom: 0px;
    background-color: white;
    border-style: solid solid hidden solid;
    overflow:auto;
  }   
  /* Input Styles*/
  input, select {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    border: 3px #555555;
    border-radius: 200px;
    border-style: solid;
    font-size: 1.2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  /* a button {
    width: 100%;
  } */
  a.small button{
    width: 33%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%
  }

  a.medium button{
    width: 66%;
    padding-left: 2%;
    padding-right: 2%;
  }

  a.large button{
    width: 100%;
  }
  a button {
    width: 100%;
  }

  p a {
    text-decoration: underline;
  }
  
  .custom-buttons {
    position: absolute;
    left: 5px;
    transform: translate(-0);
    display: inline-grid;
    grid-template-rows: 50 50 50 50 50;
    row-gap: 55px;
    top: 32vh;
  }
  .grid-container {
    position: absolute;
    top: 14vh;
    transform: translate(-50%);
    width: 80%;
    display: inline-grid;
    grid-template-columns: 33%, 33%, 33%;
    background-color: none;
  }
  canvas {
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    top: 15%;
    /* left: 0%; */
    height: 700px;
    width: 80%;
  }
  
  .form {
    /* border-top: solid; */
    width: 100%;
  }
  form {
    width: 80%;
  }
  .form-group.checkboxdiv, .checkboxdivb {
    margin:0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
  }
  p.middle {
    width: 80%;
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 568px) {
  .two-buttons{
      display: flex;
      flex-direction: column-reverse;
  }

  a.small button{
    width: 100%
  }

  a.medium button{
    width: 100%
  }

  form.small {
    width: 80%;
    margin: auto;
  }

  .grid-container {
    position: fixed;
    width: 100%;
    top: 10%;
    z-index: 1;
  }
  .custom-buttons {
    left: 1px;
  }
}